$mainYellow: #fdc800;
$hoverButton: #e2b510;
$blackShade: #232323;
$backgroundColor: #eaedf4;
$whiteShade: #f8f8f8;

@mixin fontLogo {
  font-family: "Great Vibes";
  font-weight: normal;
  font-size: 90px;
}

@mixin headingOne {
  font-family: "Great Vibes";
  font-weight: normal;
  font-size: 42px;
}

@mixin headingTwo {
  font-family: "Cabin";
  font-weight: bold;
  font-size: 32px;
}

@mixin bodyHeading {
  font-family: "Cabin";
  font-weight: bold;
  font-size: 24px;
}

@mixin bodyMenu {
  font-family: "Cabin";
  font-weight: bold;
  font-size: 20px;
  text-align: right;
}

@mixin bodyText {
  font-family: "Cabin";
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  line-height: 29px;
}

@mixin textButton {
  font-family: "Cabin";
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

@mixin mainAlignment {
  margin: 0;
  padding: 0;
}

@mixin styleButton {
  width: 150px;
  border: none;
  background-color: $mainYellow;
  font-weight: bold;
  font-size: 18px;
  margin-top: 25px;
  text-align: center;
  padding: 10px 20px;
  &:hover {
    background: $hoverButton;
  }
}

@mixin mobileStyles {
  .menu {
    display: none;
    visibility: hidden;
  }
  #hamburger-icon {
    visibility: visible;
  }

  #topNavMobile {
    display: none;
    background: $mainYellow;
    position: absolute;
    width: 100%;
    height: fit-content;
    margin-top: 80px;
    ul {
      list-style-type: none;
      display: flex;
      flex-direction: column;
    }
    li {
      padding: 0 10px;
    }
    a {
      text-decoration: none;
      color: $blackShade;
      font-size: 20px;
      padding: 14px 16px;
      font-weight: bold;
      cursor: pointer;
      display: block;
      &:hover {
        background-color: $whiteShade;
        color: $blackShade;
      }
    }
  }

  header {
    flex-direction: column;
    justify-content: flex-start;
  }
  .logo {
    width: 100%;
  }

  .about {
    height: auto;
    p {
      width: auto;
    }
  }
  .moreInfo {
    height: auto;
    flex-direction: column;
  }
  .galleryBox {
    height: auto;
    flex-direction: column;
  }
  .blog {
    height: auto;
    flex-direction: column;
  }

  .popularRecipes {
    height: auto;
    flex-direction: column-reverse;
  }
  .blogPost {
    width: 100%;
    padding: 10px 10px;
    h3,
    p {
      width: 90%;
    }
    a {
      margin-top: 0;
    }
  }
  .blogImage {
    width: 100%;
  }

  .meetTheCook {
    height: auto;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
    h2 {
      text-align: center;
    }
    .cookDetails {
      width: 90%;
    }
    .cookFigure {
      width: 50%;
    }
  }

  .cookContainer {
    width: auto;
    justify-content: center;
  }
  footer {
    display: flex;
    flex-direction: column-reverse;
  }
  .menuFooter {
    display: flex;
    flex-direction: column;
    width: 100%;
    h5,
    p {
      text-align: center;
    }
  }

  .footerLinks {
    display: flex;
    flex-direction: column;
  }

  .posts {
    display: none;
    visibility: hidden;
  }

  .formFooter {
    width: 100%;
    flex-direction: column;
    text-align: center;
    form {
      flex-direction: column;
    }
    input,
    button {
      width: 100%;
      height: 40px;
      padding: 0;
    }
  }
}
