body {
  margin: 0;
  padding: 0;
  font-family: "Cabin";
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  line-height: 29px;
  color: #232323;
  background: #f8f8f8;
  margin: auto;
}

.background {
  background: url(https://psd.hackeryou.com/assignment1-assets/tasty/asset-1.jpg) center;
  background-size: cover;
  height: 650px;
}

.logo {
  align-items: left;
  width: 50%;
  padding-left: 50px;
}
.logo h3 {
  font-family: "Great Vibes";
  font-weight: normal;
  font-size: 42px;
  text-align: left;
}

.navbar {
  display: flex;
  height: 100px;
}

.menu {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: flex-end;
}
.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}
.menu ul li {
  padding: 0 10px;
}
.menu ul a {
  display: inline-block;
  text-decoration: none;
  color: #232323;
  font-size: 20px;
  font-weight: bold;
}

.mainText {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.mainText p {
  margin-bottom: 0;
  text-align: center;
  font-weight: bold;
}
.mainText h1 {
  font-family: "Great Vibes";
  font-weight: normal;
  font-size: 55px;
  margin-top: 0;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 350px;
  padding: 50px;
}
.about h2 {
  font-family: "Great Vibes";
  font-weight: normal;
  font-size: 42px;
}
.about .button-cta {
  width: 150px;
  border: none;
  background-color: #edc800;
  font-weight: bold;
  font-size: 18px;
  margin-top: 25px;
  text-align: center;
  padding: 10px 20px;
}
.about p {
  font-family: "Cabin";
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  line-height: 29px;
  width: 80%;
}

.moreInfo {
  display: flex;
  height: 150px;
  padding: 50px;
  background: #232323;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.recipes,
.cooking,
.contact {
  color: #f8f8f8;
  font-weight: 600;
}
.recipes i,
.cooking i,
.contact i {
  color: #f8f8f8;
}

.gallery {
  height: 350px;
  padding: 100px;
}

.galleryBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 350px;
  margin: 50px 0;
  padding: 0 50px;
}
.galleryBox img {
  width: 300px;
  -o-object-fit: fill;
     object-fit: fill;
}

.cookingTips,
.popularRecipes {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 440px;
}

.cookingBox,
.recipesBox {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #eaedf4;
  height: 100%;
}
.cookingBox h3,
.cookingBox p,
.recipesBox h3,
.recipesBox p {
  width: 40%;
  text-align: center;
}
.cookingBox a,
.recipesBox a {
  width: 150px;
  border: none;
  background-color: #edc800;
  font-weight: bold;
  font-size: 18px;
  margin-top: 25px;
  text-align: center;
  padding: 10px 20px;
}

.imageContainer {
  width: 50%;
  height: 100%;
  margin: 0;
}
.imageContainer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.meetTheCook {
  height: 440px;
  padding: 50px;
  background: #f8f8f8;
  display: flex;
  align-items: center;
}

.cookContainer {
  width: 30%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  justify-content: center;
  margin: 0;
}
.cookContainer img {
  width: 300px;
  height: 300px;
  margin: auto;
  display: block;
  border-radius: 50%;
}

.cookDetails h2 {
  font-family: "Great Vibes";
  font-weight: normal;
  font-size: 42px;
  text-align: left;
  padding-left: 25px;
}
.cookDetails p {
  padding: 0 50px 25px 25px;
  text-align: left;
}
.cookDetails a {
  width: 150px;
  border: none;
  background-color: #edc800;
  font-weight: bold;
  font-size: 18px;
  margin-top: 25px;
  text-align: center;
  padding: 10px 20px;
}

footer {
  background: #232323;
  color: #f8f8f8;
  display: flex;
  padding: 50px;
}

.menuFooter {
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
}
.menuFooter h5 {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: left;
}
.menuFooter p {
  text-align: left;
}

.divFooter {
  width: 50%;
}
.divFooter h5 {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: left;
}
.divFooter p {
  text-align: left;
}
.divFooter form {
  display: flex;
}
.divFooter input {
  width: 70%;
  height: 40px;
  border: none;
}
.divFooter button {
  width: 30%;
  border: none;
  background-color: #edc800;
  font-weight: 400;
}
.divFooter input::-moz-placeholder {
  font-family: "Cabin";
  padding-left: 10px;
}
.divFooter input:-ms-input-placeholder {
  font-family: "Cabin";
  padding-left: 10px;
}
.divFooter input::placeholder {
  font-family: "Cabin";
  padding-left: 10px;
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }

  header {
    flex-direction: column;
    justify-content: flex-start;
  }

  .logo {
    width: 100%;
    justify-content: center;
  }

  .about {
    height: auto;
  }
  .about p {
    width: auto;
  }

  .moreInfo {
    height: auto;
    flex-direction: column;
  }

  .galleryBox {
    height: auto;
    flex-direction: column;
  }

  .cookingTips {
    height: auto;
    flex-direction: column;
  }

  .popularRecipes {
    height: auto;
    flex-direction: column-reverse;
  }

  .cookingBox,
.recipesBox {
    width: 100%;
    padding: 10px;
  }
  .cookingBox h3,
.cookingBox p,
.recipesBox h3,
.recipesBox p {
    width: 90%;
  }
  .cookingBox a,
.recipesBox a {
    margin-top: 0;
  }

  .imageContainer {
    width: 100%;
  }

  .meetTheCook {
    height: auto;
    align-items: center;
    flex-direction: column;
  }
  .meetTheCook h2 {
    text-align: center;
  }

  .cookContainer {
    width: auto;
    justify-content: center;
  }

  footer {
    flex-direction: column-reverse;
  }

  .menuFooter {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */