body {
  margin: 0;
  padding: 0;
  font-family: "Cabin";
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  line-height: 29px;
  color: #232323;
  background: #f8f8f8;
  margin: auto;
}

.background {
  background: url(https://psd.hackeryou.com/assignment1-assets/tasty/asset-1.jpg) center;
  background-size: cover;
  height: 650px;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  padding-left: 50px;
  padding-right: 50px;
}
.logo h3 {
  font-family: "Great Vibes";
  font-weight: normal;
  font-size: 42px;
  text-align: left;
  cursor: pointer;
}

.navbar {
  display: flex;
  height: 100px;
}

.menu {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: flex-end;
}
.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}
.menu ul li {
  padding: 0 10px;
}
.menu ul a {
  display: inline-block;
  text-decoration: none;
  color: #232323;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.mainText {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.mainText p {
  margin-bottom: 0;
  text-align: center;
  font-weight: bold;
}
.mainText h1 {
  font-family: "Great Vibes";
  font-weight: normal;
  font-size: 55px;
  margin-top: 0;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 350px;
  padding: 50px;
}
.about h2 {
  font-family: "Great Vibes";
  font-weight: normal;
  font-size: 42px;
}
.about .button-cta {
  width: 150px;
  border: none;
  background-color: #fdc800;
  font-weight: bold;
  font-size: 18px;
  margin-top: 25px;
  text-align: center;
  padding: 10px 20px;
}
.about .button-cta:hover {
  background: #e2b510;
}
.about p {
  font-family: "Cabin";
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  line-height: 29px;
  width: 80%;
}

.moreInfo {
  display: flex;
  height: 150px;
  padding: 50px;
  background: #232323;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.recipes,
.cooking,
.contact {
  color: #f8f8f8;
  font-weight: 600;
}
.recipes i,
.cooking i,
.contact i {
  color: #f8f8f8;
  cursor: pointer;
}

.galleryBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 350px;
  margin: 50px 0;
  padding: 0 50px;
}
.galleryBox img {
  width: 300px;
  -o-object-fit: fill;
     object-fit: fill;
  margin-bottom: 10px;
}

.cookingTips,
.popularRecipes {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 440px;
}

.cookingBox,
.recipesBox {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #eaedf4;
  height: 100%;
}
.cookingBox h3,
.cookingBox p,
.recipesBox h3,
.recipesBox p {
  width: 40%;
  text-align: center;
}
.cookingBox a,
.recipesBox a {
  width: 150px;
  border: none;
  background-color: #fdc800;
  font-weight: bold;
  font-size: 18px;
  margin-top: 25px;
  text-align: center;
  padding: 10px 20px;
  cursor: pointer;
}
.cookingBox a:hover,
.recipesBox a:hover {
  background: #e2b510;
}

.imageContainer {
  width: 50%;
  height: 100%;
  margin: 0;
}
.imageContainer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.meetTheCook {
  padding: 50px;
  background: #f8f8f8;
  display: flex;
  align-items: center;
}

.cookFigure {
  width: 30%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  justify-content: center;
  margin: 0;
}
.cookFigure img {
  margin: auto;
  display: block;
  border-radius: 50%;
  width: 100%;
}

.cookDetails {
  width: 70%;
}
.cookDetails h2 {
  font-family: "Great Vibes";
  font-weight: normal;
  font-size: 42px;
  text-align: left;
  padding-left: 25px;
}
.cookDetails p {
  text-align: left;
}
.cookDetails a {
  width: 150px;
  border: none;
  background-color: #fdc800;
  font-weight: bold;
  font-size: 18px;
  margin-top: 25px;
  text-align: center;
  padding: 10px 20px;
  cursor: pointer;
}
.cookDetails a:hover {
  background: #e2b510;
}

footer {
  background: #232323;
  color: #f8f8f8;
  display: flex;
  padding: 50px;
}

.menuFooter {
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
}
.menuFooter h5 {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: left;
}
.menuFooter p {
  text-align: left;
}

.divFooter {
  width: 50%;
}
.divFooter h5 {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: left;
}
.divFooter p {
  text-align: left;
}
.divFooter form {
  display: flex;
}
.divFooter input {
  width: 70%;
  height: 40px;
  border: none;
}
.divFooter button {
  width: 150px;
  border: none;
  background-color: #fdc800;
  font-weight: bold;
  font-size: 18px;
  margin-top: 25px;
  text-align: center;
  padding: 10px 20px;
  width: 30%;
  margin-top: 0;
}
.divFooter button:hover {
  background: #e2b510;
}
.divFooter input::-moz-placeholder {
  font-family: "Cabin";
  padding-left: 10px;
}
.divFooter input:-ms-input-placeholder {
  font-family: "Cabin";
  padding-left: 10px;
}
.divFooter input::placeholder {
  font-family: "Cabin";
  padding-left: 10px;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

#hamburger-icon {
  margin: auto 0;
  padding-right: 10px;
  cursor: pointer;
  visibility: hidden;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background: #232323;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

#mobileFooter {
  display: none;
}
#mobileFooter .menuFooter {
  padding: 20px 10px;
}
#mobileFooter .menuFooter h5 {
  margin-bottom: 10px;
  text-align: center;
}
#mobileFooter .menuFooter p {
  text-align: center;
}
#mobileFooter .pages h5 {
  text-align: center;
}
#mobileFooter .pages ul {
  list-style-type: none;
}
#mobileFooter .pages a {
  text-decoration: none;
  color: #f8f8f8;
  font-weight: bold;
}
#mobileFooter .flexMobile ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 0;
  margin: auto;
}
#mobileFooter .contactFooter form {
  display: flex;
  flex-direction: column;
}
#mobileFooter .contactFooter input {
  height: 40px;
  border: none;
}
#mobileFooter .contactFooter button {
  border: none;
  background-color: #fdc800;
  font-weight: bold;
  height: 40px;
}
#mobileFooter .contactFooter input::-moz-placeholder {
  font-family: "Cabin";
  padding-left: 10px;
}
#mobileFooter .contactFooter input:-ms-input-placeholder {
  font-family: "Cabin";
  padding-left: 10px;
}
#mobileFooter .contactFooter input::placeholder {
  font-family: "Cabin";
  padding-left: 10px;
}

#desktopFooter {
  display: flex;
  width: 100%;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    visibility: hidden;
  }

  #hamburger-icon {
    visibility: visible;
  }

  #topNavMobile {
    display: none;
    background: #fdc800;
    position: absolute;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 80px;
  }
  #topNavMobile ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
  }
  #topNavMobile li {
    padding: 0 10px;
  }
  #topNavMobile a {
    text-decoration: none;
    color: #232323;
    font-size: 20px;
    padding: 14px 16px;
    font-weight: bold;
    cursor: pointer;
    display: block;
  }
  #topNavMobile a:hover {
    background-color: #f8f8f8;
    color: #232323;
  }

  header {
    flex-direction: column;
    justify-content: flex-start;
  }

  .logo {
    width: 100%;
  }

  .about {
    height: auto;
  }
  .about p {
    width: auto;
  }

  .moreInfo {
    height: auto;
    flex-direction: column;
  }

  .galleryBox {
    height: auto;
    flex-direction: column;
  }

  .cookingTips {
    height: auto;
    flex-direction: column;
  }

  .popularRecipes {
    height: auto;
    flex-direction: column-reverse;
  }

  .cookingBox,
.recipesBox {
    width: 100%;
    padding: 10px 10px;
  }
  .cookingBox h3,
.cookingBox p,
.recipesBox h3,
.recipesBox p {
    width: 90%;
  }
  .cookingBox a,
.recipesBox a {
    margin-top: 0;
  }

  .imageContainer {
    width: 100%;
  }

  .meetTheCook {
    height: auto;
    align-items: center;
    flex-direction: column;
  }
  .meetTheCook h2 {
    text-align: center;
  }

  .cookContainer {
    width: auto;
    justify-content: center;
  }

  footer {
    display: flex;
    flex-direction: column-reverse;
  }

  .menuFooter {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .menuFooter h5,
.menuFooter p {
    text-align: center;
  }

  .pages {
    display: flex;
    flex-direction: column;
  }

  .posts {
    display: none;
    visibility: hidden;
  }

  .divFooter {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .divFooter form {
    flex-direction: column;
  }
  .divFooter input,
.divFooter button {
    width: 100%;
    height: 40px;
    padding: 0;
  }

  #desktopFooter {
    display: none;
  }

  #mobileFooter {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */